---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Load variables and settings from `_sass`
@import "colors";
@import "sizes";
@import "vars";

// Load the main scss file
@import "build";

// Size of touch table screen
$break-table: 2400px;

// Add any other styles below.
#banner {
  background-image: url("/img/light-bl.svg"), url("/img/light-br.svg"), url("/img/overlay.png"), url("/img/Antiphoner1a.jpeg");
}

@import "diva.min";
@import "diva.style";

figure img {
  margin: 0 auto;
  display: block;
}

#footer ul.logos {
  width: 100%;
}

#footer ul.logos li {
  width: 33%;
}

#Table1 table, #Table2 table, #Table3 table, #Table4 table, #Table5 table {
table-layout: fixed !important;
}

#Table1 table td, #Table2 table td, #Table3 table td, #Table4 table td, #Table5 table td {
text-align: left;
padding: 0 5px;
}

// Touch table style rules
@media screen and (min-width: $break-table) {
  #tab-menu {visibility: hidden}
  #diva-wrapper {width: 65%}
  #footer {display: none}
  nav#nav li .button { display: none;}
}
