<!--<section class="wrapper style1 container special">
    <div class="row">
        <div class="4u 12u(narrower)">

            <section>
                <header>
                    <h3>Analysis</h3>
                </header>
                <p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor
                    nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
                <footer>
                    <ul class="buttons">
                        <li><a href="/analysis" class="button small">Analysis</a></li>
                    </ul>
                </footer>
            </section>

        </div>
        <div class="4u 12u(narrower)">

            <section>
                <header>
                    <h3>Explore Manuscript</h3>
                </header>
                <p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor
                    nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
                <footer>
                    <ul class="buttons">
                        <li><a href="/explore" class="button small">Explore</a></li>
                    </ul>
                </footer>
            </section>

        </div>
        <div class="4u 12u(narrower)">

            <section>
                <header>
                    <h3>Resources</h3>
                </header>
                <p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit
                    dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
                <footer>
                    <ul class="buttons">
                        <li><a href="/resources" class="button small">Resources</a></li>
                    </ul>
                </footer>
            </section>

        </div>
    </div>
</section>
