<!-- Footer -->
<footer id="footer">
  <ul class="icons">
    <li><a href="mailto:burnsref@bc.edu" class="icon circle fa-envelope"><span class="label">Contact Us</span></a></li>
      <li><a href="https://twitter.com/bclibraries" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="https://www.facebook.com/bostoncollegelibraries/" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
      <li><a href="https://www.youtube.com/user/BostonCollegeLib" class="icon circle fa-youtube"><span class="label">YouTube</span></a></li>
  </ul>

<ul>
<li>This project is a partnership of the <a href="http://library.bc.edu/">Boston College Libraries</a> <a href="http://www.bc.edu/schools/cas/music/about.html" target="_blank">and the Music Department</a> in the Morrissey College of Arts and Sciences, with the support of an <a href="http://www.bc.edu/offices/atab/grant.html" target="_blank">Academic Technology Innovation Grant.</a> This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.<br /> <br />
</li>
</ul>

  <ul class="logos">
        <li><a href="http://library.bc.edu/"><img alt="Boston College Libraries" src="/img/title_sq_momotto_transparent.png"/></a></li>
      <li><a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a></li>
    <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>

</footer>
