<nav id="nav">
    <ul>
        <li class="current"><a href="/">Home</a></li>
        <li class="submenu">
            <a href="#">Contents</a>
            <ul>
                <li><a href="/introduction">Introduction</a></li>
                <li><a href="/analysis">Analysis</a></li>
                <li><a href="http://mlib.bc.edu/diva/">Explore Manuscript</a></li>
                <li><a href="">Resources</a></li>
                <li><a href="">Project Methodology</a></li>
                <li class="submenu">
                    <a href="#">Submenu</a>
                    <ul>
                        <li><a href="#">Dolore Sed</a></li>
                        <li><a href="#">Consequat</a></li>
                        <li><a href="#">Lorem Magna</a></li>
                        <li><a href="#">Sed Magna</a></li>
                        <li><a href="#">Ipsum Nisl</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="/contact" class="button special">Contact Us</a></li>
    </ul>
</nav>