<nav id="nav">
    <ul>
      <li><a href="/view">Explore Manuscript</a></li>
      <li>
        <a href="#">About the Antiphoner</a>
        <ul>
                          <li><a href="/novices-guide">Novice's Guide</a></li>
                          <li><a href="/description">Description</a></li>
                          <li><a href="/structure">Structure</a></li>
                          <li><a href="/contents">Contents</a></li>
                          <li><a href="/performances">Performances</a></li>
                          <li><a href="/resources">Resources</a></li>
                      </ul>
                      </li>
          <li>
                        <a href="#">Project Info</a>
                        <ul>
                          <li><a href="/methodology">Methodology</a></li>
                          <li><a href="/collaborators">Collaborators</a></li>
      </ul>
    </li>
        <li><a href="/contact" class="button special">Contact Us</a></li>
    </ul>
</nav>
