<nav id="nav">
    <ul>
        <li class="current"><a href="/">Home</a></li>
        <li class="submenu">
            <a href="#">Contents</a>
            <li class="submenu">
                <a href="#">Content</a>
                <ul>
                    <li><a href="/novices-guide">Novice's Guide</a></li>
                    <li><a href="/summary">Summary Description</a></li>
                    <li><a href="structure">Structure, scribal hands, and decoration</a></li>
                    <li><a href="/contents">About the contents</a></li>
                    <li><a href="#">Sed Magna</a></li>
                    <li><a href="#">Ipsum Nisl</a></li>
                </ul>
            <ul>
                <li><a href="http://mlib.bc.edu/diva/">Explore Manuscript</a></li>
                <li><a href="/bibliography">Bibliography and More</a></li>
                <li><a href="">Project Methodology</a></li>
                <li class="submenu">
                    <a href="#">Content</a>
                    <ul>
                        <li><a href="/novices-guide">Novice's Guide</a></li>
                        <li><a href="/summary">Summary Description</a></li>
                        <li><a href="structure">Structure, scribal hands, and decoration</a></li>
                        <li><a href="/contents">About the contents</a></li>
                        <li><a href="#">Sed Magna</a></li>
                        <li><a href="#">Ipsum Nisl</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="/contact" class="button special">Contact Us</a></li>
    </ul>
</nav>
