<nav id="nav">
    <ul>
        <li class="current"><a href="http://mlib.bc.edu/diva/">Explore Manuscript</a></li>
        <li class="submenu">
            <a href="#">Contents</a>
                  <ul>
                      <li class="submenu">
                        <a href="#">The Antiphoner</a>
                        <ul>
                          <li><a href="/novices-guide">Novice's Guide</a></li>
                          <li><a href="/description">Description</a></li>
                          <li><a href="/structure">Commentary 1</a></li>
                          <li><a href="/contents">Commentary 2</a></li>
                          <li><a href="/performances">Performances</a></li>
                          <li><a href="/resources">Resources</a></li>
                      </ul>
                      </li>
                      <li class="submenu">
                        <a href="#">Project Info</a>
                        <ul>
                          <li><a href="#">Methodology</a></li>
                          <li><a href="#">Collaborators</a></li>
                          <li><a href-"#">How to Cite</a></li>
      </ul>
    </li>
  </ul>
</li>
        <li><a href="/contact" class="button special">Contact Us</a></li>
    </ul>
</nav>
