$page-text-color: #4f5353;
$page-bg-color: #f3f6fa;

$border-color: transparentize($page-text-color, 0.8);

$header-bg-color: #fff;
$header-text-color: inherit;
$header-alt-bg-color: transparent;
$header-alt-text-color: #fff;

$nav-button-text-color: #fff;
$nav-button-bg-color: rgba(163, 169, 170, 0.75);

$twitter-bg-color: #70aecd;
$twitter-text-color: #fff;

$banner-bg-color: #898786;
$banner-text-color: #fff;
$banner-inner-bg-color: rgba(52, 27, 43, 0.76);
$banner-inner-text-color: #fff;

$footer-bg-color: #e8eef4;
$footer-text-color: $page-text-color;

$one-bg-color: #39a397;
$one-text-color: #fff;

$two-bg-color: #fff;
$two-text-color: inherit;

$three-bg-color: #645862;
$three-text-color: #fff;

$nav-panel-bg-color: #1c2021;
$nav-panel-text-color: #fff;

$facebook-bg-color: #7490c3;
$facebook-text-color: #fff;

$google-plus-bg-color: #db6b67;
$google-plus-text-color: #fff;

$github-bg-color: #dcad8b;
$github-text-color: #fff;

$dribble-bg-color: #da83ae;
$dribble-text-color: #fff;