@font-face {
  font-family: 'Volpiano';
  src: url('../fonts/volpiano.woff') format('woff');
  src: url('../fonts/volpiano.ttf') format('truetype');
}

#viewer-body {
  display: flex;
  margin-top: 3em;

  #diva-wrapper {
    height: 625px;
    width: 50%;
  }

  .diva-outer {
    height: 100%;
  }

  h1, h2 {
    font-weight: 400;
    text-transform: uppercase;
  }

  a {
    cursor: pointer;
  }

  li {
    clear: both;
  }

  .notation {
    font-family: 'Volpiano';
    font-size: 26px;
  }

  #search-tab {
    display: hidden;

    h3 {
      font-weight: normal;
    }
  }

  .youtube-viewer {
    margin: 1em 0;
  }

  #metadata-tab {
    display: block;
    height: 672px;
    overflow: scroll;
    clear: both;

    h3, dd, dt {
      text-transform: none;
      font-size: 16px;
    }

    dl {
      overflow: hidden;
      margin: 0 0 1em 0;
    }

    dd, dt {
      margin: 0;
    }

    dd {
      float: left;
      width: 50%;
    }

    dt {
      float: left;
      width: 9%;
      min-width: 3.5em;
      clear: both;
      margin-bottom: .5em;
      font-weight: bold;
    }

    h3 {
      font-weight: normal;
      padding: .5em;
      cursor: pointer;
      text-decoration: none;
      color: gray;
      border: 1px solid gray;
      margin: 0 0 .25em 0;
    }

    .metadata {
      display: none;
      padding: .5em;
    }
  }

  #1-diva-grid-label {
    display: none;
  }

  h3.has-video {
    background: url(../img/play.svg) no-repeat 98% center;
    background-size: auto 65%;
  }

  #tab-menu {
    clear: both;
    height: 40px;
    background-color: #94a4c3;
    color: #eee;

    ul {
      list-style: none inside none;
      margin: 0;
      padding: 0 0 0 4px;
    }

    li.current-tab {
      border-bottom: 4px solid #f3f4f5;
      color: #fff;
      font-weight: 400;
    }

    li {
      float: left;
      width: 45%;
      text-align: center;
      clear: none;
      list-style: none inside none;
      padding: .5em;
      cursor: pointer;
    }
  }

  #search-tab {
    clear: both;
  }

  .diva-grid-label, .diva-zoom-label {
    display: none;
    margin-left: 1em;
    line-height: 33px;
  }

  .entry-field {
    .search-row {
      display: none;

      &.active-field {
        display: inline-block;
      }
    }

    label {
      position: absolute;
      left: -10000px;
      top: auto;
      width: 1px;
      height: 1px;
      overflow: hidden;
    }
  }

  #results-holder {
    clear: left;

    table {
      empty-cells: show;
      margin: 0;
    }

    th {
      text-align: left;
      font-size: .8em;
      font-weight:  bold;
    }

    th, td {
      padding: 0 1em 0 0;
    }

    td {
      &.result-folio {
        width: 7%;
      }

      &.result-notation {
        font-family: "Volpiano";
        font-size: 2em;
        padding: .5em 0 1em 0;
        line-height: 2
      }

      &.result-incipit {
        font-size: 1.2em;
        width: 45%;
      }
    }

    h2 {
      margin-bottom: .5em;
    }
  }

  .select-index {
    display: inline-block;
  }

  .entry-field {
    display: inline-block;
  }

  /* LOCAL CHANGES */
  tr.search-result {
    font-size: 14px;
    line-height: 1.4;
  }

  span#results-total {
    font-size: .8em;
  }

  .diva-outer {
    border: none;
    background-color: $viewer-bg-color;
    height: 107%;
  }

  #info {
    flex: 1;
    padding: 0 2em;
    font-weight: 300;
    height: 93vh;
    background: white;

    /** Fade out bottom search results to hint scrolling. **/
    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      bottom: 0;
      pointer-events: none;
      background-image: linear-gradient(to bottom,
              rgba(255, 255, 255, 0),
              rgba(255, 255, 255, 1) 90%);
      width: 50%;
      height: 8em;
    }

    &> section {
      display: none;
      padding-top: 1em;
      overflow: scroll;
      height: 672px;
    }

    &> section.current-tab {
      display: block;
    }
  }

  #viewer-body {
    background-color: $viewer-bg-color;
  }

  .select-index, .entry-field {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    float: left;
  }

  .select-index {
    margin-right: 1em;
    font-size: 16px;
  }

  .entry-field {
    input#keyword-input {
      font-size: 18px;
    }

    input {
      width: 400px;
      height: 36px;
      padding: 0 .5em;
    }
  }

  #volpiano-input {
    font-size: 30px;
    font-family: "Volpiano";
  }

}

.select2-results {
  font-size: 16px;
}

.entry-field .select2-selection {
  width: 350px;
}

.select-index .select2-selection {
  width: 100px;
}

#viewer-body #info > section::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 6px;
}
#viewer-body #info > section::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}