@font-face {
  font-family: 'Volpiano';
  src: url('../fonts/volpiano.woff') format('woff');
  src: url('../fonts/volpiano.ttf') format('truetype');
}

$viewer_default_font_size: 15px;
$tab_menu_base_color: #94a4c3;
$tab_menu_highlight_color: #fffaf2;

$input_length_full: 300px;
$input_length_med: 200px;

#viewer-body {
  display: -webkit-flex;
  display: flex;
  margin-top: 3em;

  #diva-wrapper {
    height: 87.4vh;
    width: 50%;

    .diva-tools .diva-tools-right {
      height: auto;
    }

    .diva-zoom-label {
      position: relative;
      top: -3px;
    }

    .diva-tools .diva-tools-right .diva-page-nav .diva-page-label {
      padding: 0;
    }

    .diva-label {
      font-size: 13px;
    }

    .diva-button {
      width: 25px;
      height: 25px;
      background-size: 18px;
      background-color: transparent;
      border: none;
    }

    .diva-zoom-out-button, .diva-fullscreen-icon {
      margin: 0 6px 0 3px;
    }
  }

  #diva-wrapper::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 6px;
  }

  #diva-wrapper::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }

  .diva-outer {
    height: 100%;
  }

  h1, h2 {
    font-weight: 400;
    text-transform: uppercase;
  }

  a {
    cursor: pointer;
  }

  li {
    clear: both;
  }

  #search-tab {
    display: hidden;

    h3 {
      font-weight: normal;
    }
  }

  .youtube-viewer {
    margin: 1em 0;
  }

  #metadata-tab {
    display: block;
    height: 672px;
    clear: both;

    h3, dd, dt {
      text-transform: none;
      font-size: 16px;
    }

    dl {
      overflow: hidden;
      margin: 0 0 1em 0;
    }

    dd, dt {
      margin: 0;
    }

    dd {
      float: left;
      width: 50%;
    }

    dt {
      float: left;
      width: 9%;
      min-width: 3.5em;
      clear: both;
      margin-bottom: .5em;
      font-weight: bold;
    }

    h3 {
      font-weight: normal;
      padding: .5em;
      cursor: pointer;
      text-decoration: none;
      color: #313132;
      background-color: #f1f0f1;
      border: 1px solid gray;
      margin: 0 0 .25em 0;
    }

    .metadata {
      display: none;
      padding: .5em;
    }
  }

  #1-diva-grid-label {
    display: none;
  }

  h3.has-video {
    background: url(../img/play.svg) no-repeat 98% center;
    background-size: auto 65%;
  }

  #tab-menu {
    clear: both;
    height: 50px;
    background-color: $tab_menu_base_color;
    color: #eee;

    ul {
      list-style: none inside none;
      margin: 0;
      padding: 0 0 0 4px;
    }

    li.current-tab {
      border-bottom: 4px solid $tab_menu_highlight_color;
      color: $tab_menu_highlight_color;
      font-weight: 400;
    }

    li {
      width: 18%;
      text-align: center;
      clear: none;
      list-style: none inside none;
      padding: 14px 0 6px 0;
      cursor: pointer;
      font-size: 18px;
      line-height: 18px;

      &#metadata-tab-selector {
        float: left;
        margin-left: 24%
      }

      &#search-tab-selector {
        float: right;
        margin-right: 24%;
      }
    }
  }

  #search-tab {
    clear: both;
  }

  .diva-grid-label, .diva-zoom-label {
    display: none;
    margin-left: 1em;
    line-height: 33px;
  }

  .entry-field {
    .search-row {
      display: none;
      width: 100%;

      &.active-field {
        display: inline-block;
      }
    }

    label {
      position: absolute;
      left: -10000px;
      top: auto;
      width: 1px;
      height: 1px;
      overflow: hidden;
    }
  }

  #results-holder {
    clear: left;

    table {
      empty-cells: show;
      margin: 0;
    }

    tbody::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 6px;
    }

    tbody::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0, 0, 0, .5);
      webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    }

    thead, tbody tr {
      display: table;
      width: 100%;
      table-layout: fixed;
    }

    th {
      text-align: left;
      font-size: 13px;
      font-weight: bold;
      padding: 0 1em 0 0;
    }

    tr:nth-child(2n-1) td {
      padding-top: 1em;
    }

    tbody {
      display: block;
      height: 100%;
      overflow: scroll;

      tr:nth-child(4n), tr:nth-child(4n-1) {
        background-color: #fafaf8;
      }
      tr:nth-child(4n-2), tr:nth-child(4n-3) {
        background: #f3f5f6;
      }
    }

    td:first-child, th:first-child {
      padding-left: 6px;
    }

    td {
      &:first-child {
        width: 7%;
      }

      &.result-notation {
        font-family: "Volpiano";
        font-size: 1.4em;
        padding: 0 0 1em 0;
        line-height: 2
      }
    }

    .result-folio {
      width: 7%;
    }

    .result-incipit {
      width: 39%;
    }

    .result-mode {
      width: 8%;
    }

    .result-genre {
      width: 19%;
    }

    .result-feast {
      width: 13.5%;
    }

    .result-office {
      width: 13.5%;
    }

    h2 {
      margin-bottom: .5em;
    }
  }

  .select-index {
    margin-right: 3%;
    width: 22%;
    min-width: 156px;
  }

  /* LOCAL CHANGES */
  tr.search-result {
    font-size: $viewer_default_font_size;
    line-height: 1.4;
  }

  .diva-outer {
    border: none;
    background-color: $viewer-bg-color;
  }

  #info {
    flex: 1;
    -webkit-flex: 1;
    padding: 0 2em;
    font-size: $viewer_default_font_size;
    height: 93vh;
    background: white;

    & > section {
      display: none;
      padding-top: 32px;
      overflow: scroll;
      height: 93%;
    }

    & > section.current-tab {
      display: block;
    }
  }

  #viewer-body {
    background-color: $viewer-bg-color;
  }

  .select-index, .entry-field {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    float: left;
  }

  .entry-field {
    width: 50%;

    input#keyword-input {
      font-size: 18px;
    }

    input {
      width: 100%;
      height: 48px;
      padding: 0 .5em;
    }
  }

  #volpiano-input {
    font-size: 26px;
    font-family: "Volpiano";
  }

}


@media screen and (max-width: 980px) {
  #viewer-body .entry-field {
    width: 100%;
    margin-top: 1em;
  }
}

.select2-results {
  font-size: $viewer_default_font_size;
}



@media screen and (min-width: 1081px) {
  .entry-field .select2-selection {
    width: 300px;
  }
}

@media screen and (max-width: 1080px) {
  .entry-field .select2-selection {
    width: 200px;
  }
}

.select-index .select2-selection {
  width: 100px;
}

#view-page .select2-container--default .select2-results > .select2-results__options {
  max-height: 400px;
}

$modal-delay-time: 150ms;

#view-page {
  a.whats-this {
    position: absolute;
    top: -9px;
    right: -15px;
    font-size: 12px;
    border-bottom: none;
    border-radius: 9px;
    background-color: #77a177;
    color: #fff;
    font-weight: bold;
    line-height: 8px;
    padding: 4px;
  }

  .modal-dialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 99999;
    opacity: 0;
    transition: opacity $modal-delay-time ease-in;
    pointer-events: none;
  }
  .modal-dialog:target {
    opacity: 1;
    pointer-events: auto;
  }
  .modal-dialog > div {
    width: 625px;
    height: 70vh;
    position: relative;
    margin: 10vh auto;
    padding: 5px 20px 13px 20px;
    border-radius: 5px;
    background: #fff;
    font-size: 16px;

    em {
      font-style: italic;
    }
  }
  .close {
    background: #430000;
    color: #FFFFFF;
    font-size: 15px;
    line-height: 19px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 12px;
    box-shadow: 1px 1px 2px #333;
  }
  .close:hover {
    background: #00d9ff;
  }

  span.select2-selection:focus {
    background-color: #f2f1f4;
    outline: none;
  }

  .notation {
    font-family: 'Volpiano';
    font-size: 26px;
    margin-bottom: 8px;
  }

  #diva-wrapper input[type="text"] {
    display: inline-block;
    position: relative;
    top: -2px;
    margin: 0 .5em;
    font-size: 12px;
    padding: 0;
    line-height: 22px;
    height: 22px;
  }

  input[type="submit"] {
    height: 24px;
    min-width: 30px;
    line-height: 24px;
    font-size: 12px;
    padding: 0
  }
}

#viewer-body #diva-wrapper .diva-fullscreen-icon {
  position: relative;
  top: 4px;
}

.diva-hide-scrollbar header#header {
  display: none;
}


@media screen and (max-width: $breakpoint-narrower)
{
  #view-page {
    #viewer-body {
      margin-top: 0;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
    }

    #diva-wrapper {
      width: 100%;
      padding: 0 100px;
      height: 600px;
    }

    #viewer-body #info {
      margin-top: 5em;
      height: auto;
    }
  }
}
